on:
  push:
  workflow_dispatch:


jobs:

  build-windows:
    strategy:
      matrix:
        arch: [x86, x64]
      fail-fast: false


    runs-on: ubuntu-latest

    steps:
      - uses: li1ht2ay-3es/fl1ps@build-windows
        with:
          token: ${{ secrets.token }}
          arch: ${{ matrix.arch }}
